# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\CloudStorange\Google Drive\Google Drive Personal [daom89@gmail.com]\Estudios\JuegosJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
